@model SurveySystem.Models.TblKPI

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TblKPI</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MeasurementUnit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MeasurementUnit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TargetValue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TargetValue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Department)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Department.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.KPIDNum">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
